<md-card-title layout="row" layout-align="space-between centre">
    <md-card-title-text>
        <span class="md-headline" >Changed attribute of {{simpleValueChangesCtrl.entity.type}} {{simpleValueChangesCtrl.entity.name}}.</span>
    </md-card-title-text>
</md-card-title>
<md-card-content ng-show="simpleValueChangesCtrl.showDetails">
    <table md-table>
        <thead md-head>
        <tr md-row>
            <th md-column><span>Property</span></th>
            <th md-column><span>Old Value</span></th>
            <th md-column><span>New Value</span></th>
        </tr>
        </thead>
        <tbody md-body>
        <tr ng-repeat="change in simpleValueChangesCtrl.changes" md-row>
            <td md-cell>{{ change.property.name }}</td>
            <td ng-if="change.property.type === 'HYBRID_TYPE'" md-cell>
                <a>{{change.oldValue[0].value | date: 'dd.MM.yyyy'}}</a>
            </td>
            <td ng-if="change.property.type !== 'HYBRID_TYPE'" md-cell>
                <a>{{change.oldValue}}</a>
            </td>
            <td ng-if="change.property.type === 'HYBRID_TYPE'" md-cell>
                <a>{{change.newValue[0].value | date: 'dd.MM.yyyy'}}</a>
            </td>
            <td ng-if="change.property.type !== 'HYBRID_TYPE'" md-cell>
                <a>{{change.newValue}}</a>
            </td>
        </tr>
        </tbody>
    </table>
</md-card-content>