<md-card-title layout="row" layout-align="space-between centre">
    <md-card-title-text>
        <span class="md-headline" >Changed attribute of {{simpleValueChangesCtrl.entity.type}} {{simpleValueChangesCtrl.entity.name}}.</span>
    </md-card-title-text>
</md-card-title>
<md-card-content ng-show="simpleValueChangesCtrl.showDetails">
    <table md-table>
        <thead md-head>
        <tr md-row>
            <th md-column><span>Property</span></th>
            <th md-column><span>Old Value</span></th>
            <th md-column><span>New Value</span></th>
        </tr>
        </thead>
        <tbody md-body>
        <tr ng-repeat="change in simpleValueChangesCtrl.changes" md-row>
            <td md-cell>{{ change.attribute.name }}</td>
            <div ng-if="change.type === 'hybridProperty'">
                <td md-cell ng-repeat="hybridValue in change.oldValue">
                    <span ng-if="hybridValue.name">{{ hybridValue.name }}</span>
                    <span ng-if="!hybridValue.name">{{ hybridValue }}</span>
                </td>
                <!-- A cell for empty/uninitialized old values. -->
                <td md-cell ng-if="change.oldValue.length === 0">
                </td>
                <td md-cell ng-repeat="hybridValue in change.newValue">
                    <span ng-if="hybridValue.name">{{ hybridValue.name }}</span>
                    <span ng-if="!hybridValue.name">{{ hybridValue }}</span>
                </td>
                <!-- A cell for empty/uninitialized new values. -->
                <td md-cell ng-if="change.newValue.length === 0">
                </td>
            </div>
            <div ng-if="change.type === 'simpleValue'">
                <td md-cell ng-if="change.type === 'simpleValue'">
                    <span>{{change.oldValue}}</span>
                </td>
                <td md-cell ng-if="change.type === 'simpleValue'">
                    <span>{{change.newValue}}</span>
                </td>
            </div>
        </tr>
        </tbody>
    </table>
</md-card-content>