<div ng-if="feedCtrl.hasError">
    <h1>Error: Loading changesets failed</h1>
    <table>
        <tbody>
        <tr>
            <td>Status:</td>
            <td>{{feedCtrl.error.status}}</td>
        </tr>
        <tr>
            <td>Method:</td>
            <td>{{feedCtrl.error.config.method}}</td>
        </tr>
        <tr>
            <td>URL:</td>
            <td>{{feedCtrl.error.config.url}}</td>
        </tr>
        </tbody>
    </table>
</div>
<div ng-if="!feedCtrl.hasError">
    <h1>Changesets</h1>
    <ul ng-repeat="event in feedCtrl.eventPage.events">
        <li ng-init="change=event.changeset.changes[0]">
            <strong>{{ event.user.name }}</strong> changed <strong>{{ change.changedFeatureName }}</strong>
            for <strong>{{ event.entity.type}}</strong> <strong>{{ event.entity.name }}</strong>
        </li>
    </ul>
</div>