<table class="attributesTable">
    <tbody ng-repeat="attribute in entity.attributes | orderBy: 'name' track by attribute.name">
    <tr ng-if="!attribute.edit">
        <td colspan="2" class="attributesName">{{::attribute.name}}</td>
    </tr>
    <tr>
        <td class="attributesValue">
            <ul class="attributeValueList">
                <li ng-repeat="value in attribute.values track by $index">
                    <sc-attribute-value value="value"></sc-attribute-value>
                </li>
            </ul>
        </td>
        <td style="text-align: right">
            <md-menu>
                <!-- Trigger element is a md-button with an icon -->
                <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="Open context menu">
                    <md-icon md-font-icon>more_vert</md-icon>
                </md-button>
                <md-menu-content>
                    <md-menu-item>
                        <md-button ng-click="editAttribute(attribute)">
                            <md-icon md-font-icon>edit</md-icon>
                            Edit
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="deleteValue(attribute)">
                            <md-icon md-font-icon>delete</md-icon>
                            Delete
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </td>
    </tr>
    <tr ng-if="!!attribute.edit" ng-repeat="value in attribute.values track by $index">
        <td colspan="1">
            <sc-attribute-value-edit values="attribute.values"
                                     index="$index"
                                     type="{{attribute.type}}"
                                     attribute-name="{{attribute.name}}"
                                     on-change="valueChanged(attribute)"></sc-attribute-value-edit>
        </td>
        <td>
            <md-button ng-if="$index == 0" ng-click="abort(attribute)">
                <md-icon>redo</md-icon>
            </md-button>
        </td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td colspan="2">
            <md-input-container>
                <label>New Attribute</label>
                <input ng-keyup="pressedEnter($event, attributeValueForm.valueInput.$valid)"
                       ng-model="newAttributeName"/>
            </md-input-container>
        </td>
    </tr>
    </tbody>
</table>