<md-card>

    <md-card-header class="task-header">
        <md-card-avatar>
            <img class="md-user-avatar" src="http://www.fillmurray.com/g/200/200">
        </md-card-avatar>
        <md-card-header-text>
            <div class="md-title" layout="row" layout-align="space-between start">
                <div>{{ feedTaskCtrl.event.user.name }}</div>
                <div>{{ feedTaskCtrl.event.changeset.when}}</div>
            </div>
            <div class="md-subhead" layout="row" layout-align="space-between start">
                <div>
                    <md-icon class="material-icons">timelapse</md-icon>
                    Changed a Task
                </div>
            </div>
        </md-card-header-text>
    </md-card-header>

    <span id="breadcrumb-task" class="md-body-1">
        <a class="link-breadcrumb" ng-href="http://localhost:8000/#/workspaces/{{feedTaskCtrl.event.space.id}}">
            {{feedTaskCtrl.event.space.name}}
        </a>
        <md-icon class="material-icons">chevron_right</md-icon>
        <a class="link-breadcrumb" ng-href="http://localhost:8000/#/entities/{{feedTaskCtrl.event.changeset.entity.id}}">
            {{feedTaskCtrl.event.changeset.entity.name}}
        </a>
    </span>

    <md-card-content>
        <div>
            Updated task <span class="value-highlight">'Assess results'</span> to <span class="value-highlight">90%</span>.
        </div>
    </md-card-content>
    <md-divider></md-divider>
    <md-card-actions layout="row" layout-align="start center">
        <md-button aria-label="Favorite">
            <md-icon class="material-icons">favorite</md-icon>
        </md-button>
        <md-button aria-label="Comment">
            <md-icon class="material-icons">comment</md-icon>
        </md-button>
    </md-card-actions>
</md-card>
