<div ng-repeat="change in richStringChangesCtrl.changes">
    <md-card-title layout="row" layout-align="space-between centre">
        <md-card-title-text>
            <span class="md-headline" >
                Changed the {{change.attribute.name}} of {{richStringChangesCtrl.entity.type}} {{richStringChangesCtrl.entity.name}}.
            </span>
        </md-card-title-text>
    </md-card-title>

    <md-card-content ng-show="richStringChangesCtrl.showDetails">
        <div class="sc-html-diff" ng-bind-html="richStringChangesCtrl.getTrustedDiffHtml(change.oldValue, change.newValue)"></div>
    </md-card-content>
</div>