<div>
    <script type="text/ng-template" id="task_contextMenu">
        <md-menu>
            <!-- Trigger element is a md-button with an icon -->
            <md-icon ng-click="$mdOpenMenu($event)"
                     class="md-icon-button"
                     aria-label="Open context menu">
                more_vert
            </md-icon>
            <md-menu-content>
                <md-menu-item>
                    <md-button ng-click="editAttribute(attribute)">
                        <md-icon md-font-icon>edit</md-icon>
                        Edit
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="deleteAttribute(attribute)">
                        <md-icon md-font-icon>delete</md-icon>
                        Delete
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </script>

    <div class="attributesTable" ng-repeat="task in entity.tasks | orderBy: 'name' track by task.id">
        <div layout="row" layout-align="space-between center">
            <sc-pie-chart diameter="2em"
                          percentage="{{task.progress || 0}}"
                          show-percentage="false"></sc-pie-chart>
            <strong flex="grow"
                    style="text-align:center;">{{task.name}}</strong>

            <div ng-click="showMetaData = !showMetaData" aria-label="Open context menu" style="cursor: pointer;">
                <md-icon md-font-icon ng-if="!showMetaData">expand_more</md-icon>
                <md-icon md-font-icon ng-if="showMetaData">expand_less</md-icon>
            </div>
        </div>
        <div class="metadataTable" ng-if="showMetaData">
            <div layout="row" layout-align="start center">
                <div flex="grow" class="metadataTitle">Metadata</div>
                <div ng-if="!!isInEdit(task.id)" layout="row">
                    <md-icon ng-click="abortMetadataEditing(entity.tasks, $index)">undo</md-icon>
                    <md-icon ng-click="updateMetadata(entity.tasks, $index)">done</md-icon>
                </div>
                <div ng-if="!isInEdit(task.id)">
                    <md-icon ng-click="editTask(task)">edit</md-icon>
                </div>
            </div>
            <ng-include
                    src="'components/attributes/attributesTaskTable/scTaskMetadataHelper/metadataTemplate.tpl.html'"></ng-include>
        </div>
        <dl class="attributesTable">
            <dt layout="row"
                layout-align="space-between end">

            <div class="attributesName">{{::attribute.name}}</div>
            <div>
                <md-icon ng-if="!!attribute.edit" ng-click="abort(attribute)">undo</md-icon>
                <md-icon ng-if="!!attribute.edit" ng-click="valueChanged(attribute)">done</md-icon>
            </div>
            <md-menu ng-if="!attribute.edit" style="background: red;">
                <!-- Trigger element is a md-button with an icon -->
                <md-icon ng-click="$mdOpenMenu($event)"
                         class="md-icon-button"
                         aria-label="Open context menu">
                    more_vert
                </md-icon>
                <md-menu-content>
                    <md-menu-item>
                        <md-button ng-click="editAttribute(attribute)">
                            <md-icon md-font-icon>edit</md-icon>
                            Edit
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="deleteAttribute(attribute)">
                            <md-icon md-font-icon>delete</md-icon>
                            Delete
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
            </dt>
            <dd ng-if="!attribute.edit">
                <ul class="attributeValueList">
                    <li ng-repeat="value in attribute.values track by $index">
                        <sc-attribute-value value="value" type="{{attribute.type}}"></sc-attribute-value>
                    </li>
                </ul>
            </dd>
            <dd ng-repeat-end ng-if="!!attribute.edit">
                <ul class="attributeValueList">
                    <li ng-repeat="value in attribute.values track by $index" layout-align="space-between end"
                        layout="row">
                        <sc-attribute-value-edit values="attribute.values"
                                                 index="$index"
                                                 type="{{attribute.type}}"
                                                 flex="grow"
                                                 on-change="valueChanged(attribute)"></sc-attribute-value-edit>
                        <md-icon ng-click="attribute.values.splice($index, 1)"
                                 ng-if="$index + 1 < attribute.values.length">clear
                        </md-icon>
                    </li>
                </ul>
            </dd>
        </dl>
        <div ng-form="newTaskAttributeForm">
            <md-autocomplete md-selected-item="newTaskAttribute[task.id]"
                             md-search-text="searchText"
                             md-items="item in searchInAttributes(searchText)"
                             md-item-text="item.name"
                             md-input-name="autocomplete"
                             md-selected-item-change="pressedEnter({'keyCode':13}, !!value)"
                             md-floating-label="Add Task Attribute">
                <md-item-template>
                    <span md-highlight-text="searchText">{{item.name}}</span>
                </md-item-template>
                <md-not-found>
                    No matches found!
                </md-not-found>
            </md-autocomplete>
        </div>
    </div>

    <div class="attributesTable">
        <div layout="row">
            <md-input-container flex="grow">
                <label>Add new task</label>
                <input type="text"
                       ng-model="newTaskName"/>
            </md-input-container>
            <md-icon ng-click="addNewTask(newTaskName)">done</md-icon>
        </div>
    </div>
</div>
