<md-card>

    <md-card-header ng-if="feedItemCtrl.event.eventType == 'CHANGE'" class="attribute-changed-header">
        <md-card-avatar>
            <img class="md-user-avatar" src="http://www.fillmurray.com/g/200/200">
        </md-card-avatar>
        <md-card-header-text>
            <div class="md-title" layout="row" layout-align="space-between start">
                <div>{{ feedItemCtrl.event.user.name }}</div>
                <div>{{ feedItemCtrl.event.changeset.when }}</div>
            </div>
            <div class="md-subhead" layout="row" layout-align="space-between start">
                <div ng-if="feedItemCtrl.event.changeset.entity.type != null ">
                    <md-icon class="material-icons">loop</md-icon>
                    Changed a {{feedItemCtrl.event.changeset.entity.type}}
                </div>
                <div ng-if="feedItemCtrl.event.changeset.entity.type == null ">
                    <md-icon class="material-icons">loop</md-icon>
                    Changed a Workspace
                </div>
            </div>
        </md-card-header-text>
    </md-card-header>

    <md-card-header ng-if="feedItemCtrl.event.eventType == 'ADD'" class="add-event-header">
        <md-card-avatar>
            <img class="md-user-avatar"  src="http://www.fillmurray.com/g/200/200">
        </md-card-avatar>
        <md-card-header-text>
            <div class="md-title" layout="row" layout-align="space-between start">
                <div>{{ feedItemCtrl.event.user.name }}</div>
                <div>{{ feedItemCtrl.event.changeset.when }}</div>
            </div>
            <div class="md-subhead" layout="row" layout-align="space-between start">
                <div ng-if="feedItemCtrl.event.changeset.entity.type != null ">
                    <md-icon class="material-icons">add_circle</md-icon>
                    Added a {{feedItemCtrl.event.changeset.entity.type}}
                </div>
                <div ng-if="feedItemCtrl.event.changeset.entity.type == null ">
                    <md-icon class="material-icons">add_circle</md-icon>
                    Added a Workspace
                </div>
            </div>
        </md-card-header-text>
    </md-card-header>


    <md-card-title>
        <md-card-title-text>
            <span class="md-subhead">
                {{feedItemCtrl.event.space.name}}
                <md-icon class="material-icons">chevron_right</md-icon>
                {{feedItemCtrl.event.changeset.entity.name}}
            </span>
            <span class="md-headline" ng-repeat="change in feedItemCtrl.event.changeset.changes">
                <div ng-if="change.type === 'richString'">
                    Changed <a class="value-highlight">{{ change.property.name }}</a> of
                    <a class="link-change" ng-href="http://localhost:8000/#/entities/{{feedItemCtrl.event.changeset.entity.id}}">{{feedItemCtrl.event.changeset.entity.name}}</a>
                </div>
                <div ng-if="change.type === 'simpleValue'">
                    <div ng-if="change.property.type === 'HYBRID_TYPE'">
                        Changed value of <a class="value-highlight">{{ change.property.name }}</a>
                        from
                        <a ng-if="change.oldValue.type === 'dateValue'" class="value-highlight">{{change.oldValue.value | date: 'dd.MM.yyyy'}}</a>
                        <a ng-if="change.oldValue.type !== 'dateValue'" class="value-highlight">{{change.oldValue.value}}</a>
                        to
                        <a  ng-if="change.newValue.type === 'dateValue'" class="value-highlight">{{change.newValue.value | date: 'dd.MM.yyyy'}}</a>
                        <a  ng-if="change.newValue.type !== 'dateValue'" class="value-highlight">{{change.newValue.value}}</a>
                    </div>
                    <div ng-if="change.property.type !== 'HYBRID_TYPE'">
                        Changed value of <a class="value-highlight">{{ change.property.name }}</a>
                        from <a class="value-highlight">{{change.oldValue}}</a> to <a class="value-highlight">{{change.newValue}}</a>
                    </div>
                </div>
            </span>
            <span class="md-headline" ng-if="feedItemCtrl.event.eventType == 'ADD'">
                <div ng-if="feedItemCtrl.event.changeset.entity.type != null ">
                    Added the {{feedItemCtrl.event.changeset.entity.type}}:
                    <a class="link-change" ng-href="http://localhost:8000/#/entities/{{feedItemCtrl.event.changeset.entity.id}}">{{feedItemCtrl.event.changeset.entity.name}}</a>
                </div>
                <div ng-if="feedItemCtrl.event.changeset.entity.type == null ">
                    Added the Workspace:
                    <a class="link-change" ng-href="http://localhost:8000/#/workspaces/{{feedItemCtrl.event.space.id}}">{{feedItemCtrl.event.space.name}}</a>
                </div>
            </span>
        </md-card-title-text>
    </md-card-title>
    <md-card-actions layout="row" layout-align="start center">
        <md-button aria-label="Favorite">
            <md-icon class="material-icons">favorite</md-icon>
        </md-button>
        <md-button aria-label="Comment">
            <md-icon class="material-icons">comment</md-icon>
        </md-button>
    </md-card-actions>
    <md-card-content>
        <p>
            Space for Comments
        </p>
    </md-card-content>
</md-card>
