<dl ng-form="metadataForm" class="metadataForm">
    <dt class="attributesName" ng-if="!!task.begin || isInEdit(task.id)">Start date:</dt>
    <dd ng-if="isInEdit(task.id)">
        <md-datepicker ng-model="task.begin"
                       ng-change="submitMetadata($event)"></md-datepicker>
    </dd>
    <dd ng-if="!!task.begin && !isInEdit(task.id)">{{task.begin | date: 'mediumDate'}}</dd>


    <dt class="attributesName" ng-if="!!task.end || isInEdit(task.id)">End date:</dt>
    <dd ng-if="isInEdit(task.id)">
        <md-datepicker ng-model="task.end"
                       ng-change="submitMetadata($event)"></md-datepicker>
    </dd>
    <dd ng-if="!!task.end && !isInEdit(task.id)">{{task.end | date: 'mediumDate'}}</dd>


    <dt class="attributesName">Progress:</dt>
    <dd ng-if="isInEdit(task.id)">
        <md-input-container>
            <input type="number"
                   max="100"
                   min="0"
                   ng-keyup="$event.keyCode == 13 ? updateMetadata(tasks, $index) : angular.noop"
                   ng-model="task.progress"
                   required
                   name="progressInput"/>

            <div ng-messages="metadataForm.progressInput.$error"
                 ng-if="metadataForm.progressInput.$dirty">
                <div ng-message="number">The value must be a number</div>
                <div ng-message="max">The number must be lower than or equal to 100</div>
                <div ng-message="min">The number must be greater than or equal to 0</div>
            </div>
        </md-input-container>
    </dd>
    <dd ng-if="!isInEdit(task.id)">{{task.progress}}%</dd>


    <dt class="attributesName" ng-if="!!task.owner || isInEdit(task.id)">Owner:</dt>
    <dd ng-if="isInEdit(task.id)">
        <!-- md-floating-label seems not to work. only with a value it works. -->
        <md-autocomplete md-input-name="ownerInput"
                         md-selected-item="task.owner"
                         md-search-text="searchText"
                         md-items="item in getUsersBySearch(searchText)"
                         md-item-text="item.name"
                         md-floating-label="">
            <md-item-template>
                <span md-highlight-text="searchText">{{item.name}}</span>
            </md-item-template>
            <md-not-found>
                No matches found.
            </md-not-found>
        </md-autocomplete>
    </dd>
    <dd ng-if="!!task.owner && !isInEdit(task.id)">{{task.owner.name}}</dd>


    <dt class="attributesName" ng-if="(!!task.expertises && task.expertises.length > 0) || isInEdit(task.id)">
        Expertise:
    </dt>
    <dd ng-if="isInEdit(task.id)" ng-repeat="expertise in task.expertises track by $index">
        <md-autocomplete md-input-name="expertiseInput"
                         md-selected-item="task.expertises[$index]"
                         md-search-text="searchedExpertise"
                         md-items="item in getExpertisesBySearch(searchedExpertise)"
                         md-item-text="item.name"
                         ng-keyup="ensureEmptyLastValue(task.expertises) && submitMetadata($event)"
                         md-floating-label="">
            <md-item-template>
                <span md-highlight-text="searchedExpertises">{{item.name}}</span>
            </md-item-template>
            <md-not-found>
                No matches found.
            </md-not-found>
        </md-autocomplete>
    </dd>
    <dd ng-if="(!!task.expertises && task.expertises.length > 0) && !isInEdit(task.id)"
        ng-repeat="expertise in task.expertises track by $index">{{expertise.name}}
    </dd>
</dl>