html {
    overflow-y: scroll;
}

.slide {
    transition: 0.5s ease all;
    transform-origin: center top;
    overflow: hidden;
}

.slide.ng-hide {
    transform: translateY(-50%);
    opacity: 0;
}

.attributesTable td {
    vertical-align: initial;
}

ul.attributeValueList {
    list-style: none;
    margin: 0;
    padding: 0;
}

.withoutTopAndBottomPadding {
    padding-top: 0;
    padding-bottom: 0;
}

.childsHaveNoPadding > *, .childsHaveNoPadding > *.flex {
    padding: 0;
}

.childsHaveNoPadding.layout-margin > .flex-gt-md {
    margin: 8px;
}

/*
regular design, not directive specific
*/

a {
    color: #003359;
}

.sideNav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #EEE;
}

.sideNav a + ul {
}

.sideNav ul > li {
}

.sideNav ul > li > a {
    padding: 5px 5px 5px 20px;
    display: block;
    background: #FAFAFA;
}

.sideNav li.active {
    background: #FF5252;
}

.sideNav li.active > a {
    color: #FFF;
    background: #195B8B;
}