@import "style.scss";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.attribute-changed-header {
  background-color: #E3B6BB;
}

.add-event-header {
  background-color: #E3B6BB;
}

.link-change {
   color: #646464;
}

.value-highlight {
   color: #646464;
}
.discussion-header {
  background-color: #F9E8A8;
}
.task-header {
  background-color: #C3DFA5;
}
.active
{
  font-weight: bold;

}
.feed-container{
    width: 100%;
}

.discussion-button {
  background-color: #F9E8A8;
}
.data-button {
  background-color: #E3B6BB;
}
.task-button {
  background-color: #C3DFA5;
}

#filter-heading{
   background-color: #C0C0C0;
}

#breadcrumb-item{
    background-color: #E3B6BB;
    padding-left: 16px;
    padding-bottom: 16px;
}

#breadcrumb-task{
    background-color: #C3DFA5;
    padding-left: 16px;
    padding-bottom: 16px;
}

