@import "style.scss";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.attribute-changed-header {
  background-color: #E3B6BB;
}

.add-event-header {
  background-color: #E3B6BB;
}

.link-change {
   color: #646464;
}

.value-highlight {
   color: #646464;
}
.discussion-header {
  background-color: #ffe87c;
}
.task-header {
  background-color: lightgreen;
}
.active
{
  font-weight: bold;

}