$pageBackground_color: #FFF;
$greenForeground_color: #417505;
$grayBackground_color: #CCCCCC;
$deactivatedForeground_color: #9B9B9B;
$deactivatedBackground_color: #EEEEEE;
$inconsistentForeground_color: wheat;
$inconsistentBackground_color: goldenrod;
$timeline_color: #F00;
$overdueForeground_color: #D20015;
$overdueBackground_color: #E3B6BB;
$coordinate_color: #DDD;


.scPieChart, .scGanttChart {
  .foreground {
    fill: $greenForeground_color;
  }

  .background {
    fill: $grayBackground_color;
  }

  &.deactivated {
    .foreground {
      fill: $deactivatedForeground_color;
    }

    .background {
      fill: $deactivatedBackground_color;
    }
  }
}

.scGanttChart .pageBackground {
  fill: $pageBackground_color;
}

.scPieChart.overdue, .scGanttChart .overdue {
  .foreground {
    fill: $overdueForeground_color;
  }
  .background {
    fill: $overdueBackground_color;
  }
}

.scPieChart.inconsistent, .scGanttChart .inconsistent {
  .foreground {
    fill: $inconsistentForeground_color;
  }
  .background {
    fill: $inconsistentBackground_color;
  }
}

.scGanttChart .coordinateSystemLines {
  stroke: $coordinate_color;
  stroke-width: 1px;

  &.percentageArea {
    stroke-dasharray: 5;
  }
}

.scGanttChart .taskProgress {
  opacity: .8;
  text-anchor: middle;

  &.noMetadata {
    font-size: 80%;
    opacity: .5;
  }

  &.left {
    text-anchor: start;
  }
}

.scGanttChart .todayMark {
  text {
    text-anchor: middle;
    font-size: 70%;
    opacity: .5;
  }

  &.right text {
    text-anchor: end;
  }

  line {
    stroke: $timeline_color;
    stroke-width: 1px;
  }
}

