.scPieChart, .scGanttChart {
  .foreground {
    fill: #417505;
  }

  .background {
    fill: #CCCCCC;
  }

  &.deactivated {
    .foreground {
      fill: #9B9B9B;
    }

    .background {
      fill: #EEEEEE;
    }
  }
}

.scGanttChart .pageBackground {
  fill: #FFF;
}

.scPieChart.overdue, .scGanttChart .overdue {
  .foreground {
    fill: #D20015;
  }
  .background {
    fill: #E3B6BB;
  }
}

.scPieChart.inconsistent, .scGanttChart .inconsistent {
  .foreground {
    fill: wheat;
  }
  .background {
    fill: goldenrod;
  }
}

.scGanttChart .coordinateSystemLines {
  stroke: #DDD;
  stroke-width: 1px;

  &.percentageArea {
    stroke-dasharray: 5;
  }
}

.scGanttChart .taskProgress {
  opacity: .8;
  text-anchor: middle;

  &.left {
    text-anchor: start;
  }
}

.scGanttChart .todayMark {
  text {
    text-anchor: middle;
    font-size: 70%;
    opacity: .5;
  }

  &.right text {
    text-anchor: end;
  }

  line {
    stroke: #F00;
    stroke-width: 1px;
  }
}

