<div class="md-padding">
    <h2 class="md-title">Filter</h2>
    <div layout="column">
        <div layout="row" layout-align="left center" flex ng-repeat="x in ctrl.filters">
            <h3 class="md-subhead" flex="50">{{x.name}}:</h3>
            <md-input-container flex-offset="15">
                <md-select ng-model="x.model" ng-change="ctrl.filterResults()">
                    <md-option ng-repeat="y in x.options" ng-value="y.val">{{y.name}}</md-option>
                    <!--<md-option ng-if="x.filterAttr" ng-repeat="res in ctrl.searchResults | unique:x.filterAttr">{{res[x.filterAttr]}}</md-option>-->
                </md-select>
            </md-input-container>
        </div>
        <div layout="row" layout-align="left center" flex>
            <h3 class="md-subhead" flex="50">Number of Results:</h3>
            <md-input-container flex-offset="15">
                <md-select ng-model="ctrl.filter.n" ng-change="ctrl.filterResults()">
                    <md-option>25</md-option>
                    <md-option>50</md-option>
                    <md-option>100</md-option>
                </md-select>
            </md-input-container>
        </div>
    </div>
</div>