<ng-form name="attributeValueForm" ng-switch="type" class="attributeValueForm">
    <!-- NUMBER -->
    <md-input-container ng-switch-when="number">
        <label ng-if="!!attributeName">{{attributeName}}</label>
        <input type="number"
               ng-keyup="pressedEnter($event, attributeValueForm.valueInput.$valid)"
               ng-model="values[index]"
               name="valueInput"/>

        <div ng-messages="attributeValueForm.valueInput.$error" ng-if="attributeValueForm.valueInput.$dirty">
            <div ng-message="number">The value must be a number</div>
        </div>
    </md-input-container>

    <!-- PERCENTAGE -->
    <md-input-container ng-switch-when="percentage">
        <label ng-if="!!attributeName">{{attributeName}}</label>
        <input type="number"
               max="100"
               min="0"
               ng-keyup="pressedEnter($event, attributeValueForm.valueInput.$valid)"
               ng-model="values[index]"
               name="valueInput"/>

        <div ng-messages="attributeValueForm.valueInput.$error" ng-if="attributeValueForm.valueInput.$dirty">
            <div ng-message="number">The value must be a number</div>
            <div ng-message="max">The number must be lower than or equal to 100</div>
            <div ng-message="min">The number must be greater than or equal to 0</div>
        </div>
    </md-input-container>

    <!-- DATE -->
    <div ng-switch-when="date">
        <label ng-if="!!attributeName">{{attributeName}}</label>
        <md-datepicker ng-model="values[index]"
                       ng-change="pressedEnter({'keyCode':13}, !!values[index])"></md-datepicker>
    </div>

    <!-- LINK -->
    <md-autocomplete md-input-name="valueInput"
                     md-selected-item="value"
                     md-search-text="searchText"
                     md-items="item in getMatches(searchText)"
                     md-item-text="item.name"
                     md-floating-label="{{attributeName}}"
                     md-selected-item-change="pressedEnter({'keyCode':13}, !!value)"
                     ng-switch-when="link"
                     required>
        <md-item-template>
            <span md-highlight-text="searchText">{{item.name}}</span>
        </md-item-template>
        <div ng-messages="attributeValueForm.valueInput.$error" ng-if="attributeValueForm.valueInput.$dirty">
            <div ng-message="required">This field is required</div>
        </div>
    </md-autocomplete>

    <!-- DEFAULT -->
    <md-input-container ng-switch-default>
        <label ng-if="!!attributeName">{{attributeName}}</label>
        <input ng-keyup="pressedEnter($event, true)"
               ng-model="values[index]"
               name="valueInput"/>
    </md-input-container>
</ng-form>