<ng-form name="attributeValueForm" ng-switch="::getType()" class="attributeValueForm">
    <!-- NUMBER -->
    <md-input-container ng-switch-when="number">
        <label ng-if="!!attributeName">{{attributeName}}</label>
        <input type="number"
               ng-keyup="pressedEnter($event, attributeValueForm.valueInput.$valid)"
               ng-model="attribute.values[currentIndex]"
               name="valueInput"/>

        <div ng-messages="attributeValueForm.valueInput.$error" ng-if="attributeValueForm.valueInput.$dirty">
            <div ng-message="number">The value must be a number</div>
        </div>
    </md-input-container>

    <!-- PERCENTAGE -->
    <md-input-container ng-switch-when="percentage">
        <label ng-if="!!attributeName">{{attributeName}}</label>
        <input type="number"
               max="100"
               min="0"
               ng-keyup="pressedEnter($event, attributeValueForm.valueInput.$valid)"
               ng-model="attribute.values[currentIndex]"
               name="valueInput"/>

        <div ng-messages="attributeValueForm.valueInput.$error" ng-if="attributeValueForm.valueInput.$dirty">
            <div ng-message="number">The value must be a number</div>
            <div ng-message="max">The number must be lower than or equal to 100</div>
            <div ng-message="min">The number must be greater than or equal to 0</div>
        </div>
    </md-input-container>

    <!-- DATE -->
    <div ng-switch-when="date">
        <label ng-if="!!attributeName">{{attributeName}}</label>
        <md-datepicker ng-model="attribute.values[currentIndex]"></md-datepicker>
        <!-- ng-change="pressedEnter({'keyCode':13}, !!attribute.values[currentIndex])" -->
    </div>

    <!-- LINK -->
    <md-autocomplete ng-switch-when="link"
                     md-input-name="valueInput"
                     md-selected-item="attribute.values[currentIndex]"
                     md-search-text="searchText"
                     md-items="item in getMatches(searchText)"
                     md-floating-label="true"
                     class="removeFloatingLabel"
                     md-item-text="item.name">
        <md-item-template>
            <span md-highlight-text="searchText">{{item.name}}</span>
        </md-item-template>
        <md-not-found>
            No matches found.
        </md-not-found>
    </md-autocomplete>

    <md-input-container ng-switch-when="enumeration">
        <md-select ng-model="attribute.values[currentIndex]">
            <md-option
                    value="{{option}}"
                    ng-repeat="option in attribute.attributeDefinition.options.enumerationValues track by $index">
                {{option}}
            </md-option>
        </md-select>
    </md-input-container>

    <!-- DEFAULT -->
    <md-input-container ng-switch-default>
        <label ng-if="!!attributeName">{{attributeName}}</label>
        <input ng-keyup="pressedEnter($event, true)"
               ng-model="attribute.values[currentIndex]"
               name="valueInput"/>
    </md-input-container>
</ng-form>