<!DOCTYPE html>
<html lang="en" ng-app="scGenericClient">
<head>
    <title>SC Generic Client</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


    <!-- lib:css -->
    <!-- bower installed css files will go here... -->
    <!-- endinject -->
    <link rel="stylesheet" href="components/charts/scCharts.css"/>
    <link rel="stylesheet" href="components/main.css"/>
</head>

<body ng-controller="IndexCtrl as ctrl">
<div layout="row" id="header">
    <h1><a href="#"><img src="" alt="sebis Logo"/></a></h1>

    <div layout="column" flex>
        <div>searchbar <a href="#/feed">Feed</a> alarm profile options</div>
        <md-tabs md-dynamic-height
                 md-border-bottom
                 md-stretch-tabs="always"
                 md-selected="ctrl.selectedTabIndex"
                 class="md-primary"
                 ng-if="ctrl.workspaces">
            <md-tab ng-repeat="workspace in ctrl.workspaces track by workspace.uid"
                    ng-click="::ctrl.setPathTo(workspace.uid)"
                    label="{{::workspace.name}}">
            </md-tab>
        </md-tabs>
    </div>
</div>
<md-content layout="row" class="content">
    <md-sidenav md-component-id="left" class="md-sidenav-left" md-is-locked-open="true">
        <sc-side-nav entities="ctrl.navData.entities" current-entity-uid="ctrl.navData.currentEntityUid"
                     ng-if="ctrl.navData.entities"></sc-side-nav>
    </md-sidenav>
    <md-card ng-view flex>
    </md-card>
</md-content>

<!-- lib:js -->
<!-- bower installed scripts will go here... -->
<!-- endinject -->

<script src="components/app.js"></script>
<script src="components/router.js"></script>
<script src="components/indexCtrl.js"></script>

<script src="components/mainNav/mainNav.js"></script>
<script src="components/mainNav/sharedNavDataService.js"></script>
<script src="components/mainNav/mainNavService.js"></script>
<script src="components/mainNav/mainNavDirective.js"></script>

<script src="components/attributes/attributes.js"></script>
<script src="components/attributes/attributesDirective.js"></script>
<script src="components/attributes/attributesTable/attributesTableDirective.js"></script>
<script src="components/attributes/attributesTaskTable/attributesTaskTableDirective.js"></script>
<script src="components/attributes/attributesTaskTable/scTaskMetadataHelper/scTaskMetadataHelperDirective.js"></script>
<script src="components/attributes/attributeValue/attributeValueDirective.js"></script>
<script src="components/attributes/attributeValueEdit/attributeValueEditDirective.js"></script>
<script src="components/attributes/attributesTaskTable/attributesTaskTableService.js"></script>

<script src="components/mainContent/mainContent.js"></script>
<script src="components/mainContent/mainContentService.js"></script>
<script src="components/mainContent/mainContentDirective.js"></script>
<script src="components/mainContent/mainContentController.js"></script>

<script src="components/feed/feedModule.js"></script>
<script src="components/feed/feedDirective.js"></script>
<script src="components/feed/feedService.js"></script>
<script src="components/feed/feedController.js"></script>
<script src="components/feed/feedItem/feedItemController.js"></script>
<script src="components/feed/feedItem/feedItemDirective.js"></script>

<script src="components/charts/scCharts.js"></script>
<script src="components/charts/scPieChartDirective.js"></script>
<script src="components/charts/scGanttChartDirective.js"></script>

<script src="components/common/scColorService.js"></script>
<script src="components/common/scAuth.js"></script>


</body>
</html>