<!DOCTYPE html>
<html lang="en" ng-app="scGenericClient">
<head>
    <title>SC Generic Client</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- lib:css -->
    <!-- bower installed css files will go here... -->
    <!-- endinject -->
</head>
<body ng-controller="IndexCtrl as indexCtrl" ng-cloak layout-fill layout="column" flex>
    <md-toolbar class="md-hue-1" style="background-color:none;">
        <div class="md-toolbar-tools" layout="row" style="background-color: rgb(25,91,139);" >
            <div layout="row" flex layout-align="start">
                <div class="png-icon">
                    <img height="24" width="60" src="images/logo.png" alt="sebis Logo"/>
                </div>
                <md-button class="md-icon-button"
                           ng-click="toggleSidenav('left')"
                           hide-gt-sm
                           aria-label="Menu">
                    <md-icon md-font-set="material-icons">menu</md-icon>
                </md-button>
                <md-autocomplete flex
                                 ng-show="indexCtrl.showSearch"
                                 md-selected-item="indexCtrl.selectedItem"
                                 md-search-text-change="indexCtrl.searchTextChange(ctrl.searchText)"
                                 md-search-text="indexCtrl.searchText"
                                 md-selected-item-change="indexCtrl.selectedItemChange(item)"
                                 md-items="item in indexCtrl.getSearchHints(indexCtrl.searchText)"
                                 md-item-text="item.name"
                                 md-min-length="1"
                                 placeholder="Search for ..."
                                 class="searchBar"
                                 ng-keypress="indexCtrl.showSearchResults($event, indexCtrl.searchText)">
                    <md-item-template>
                        <a class="item-title">
                            <md-icon ng-if="item.resourceType=='entities'" md-font-set="material-icons">text_format</md-icon>
                            <md-icon ng-if="item.resourceType=='files'" md-font-set="material-icons">insert_drive_file</md-icon>
                            <md-icon ng-if="item.resourceType=='entityTypes'" md-font-set="material-icons">class</md-icon>
                            <md-icon ng-if="item.resourceType=='derivedAttributeDefinitions'" md-font-set="material-icons">add_circle</md-icon>
                            <md-icon ng-if="item.resourceType=='workspaces'" md-font-set="material-icons">view_carousel</md-icon>
                            <md-icon ng-if="item.resourceType=='users'" md-font-set="material-icons">person_pin</md-icon>
                            <span> {{item.name}} </span>
                        </a>
                    </md-item-template>
                    <md-not-found>
                        No matches found. {{searchText}}
                    </md-not-found>
                </md-autocomplete>
                <md-button class="md-icon-button" ng-click="indexCtrl.showSearch = !indexCtrl.showSearch" aria-label="Back">
                    <md-icon md-font-set="material-icons"> arrow_back</md-icon>
                </md-button>
            </div>

            <div layout="row" layout-align="end">
                <md-button href="#/feed" class="md-icon-button" aria-label="More">
                    <md-icon class="material-icons">timelapse</md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="More">
                    <md-icon class="material-icons">notifications_none</md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="More">
                    <md-icon class="material-icons">person</md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="Open Settings" href="#/feed">
                    <md-icon md-font-set="material-icons"> more_vert</md-icon>
                </md-button>
            </div>
        </div>
    </md-toolbar>

    <md-tabs md-dynamic-height
             md-selected="ctrl.selectedTabIndex"
             class="md-primary"
             ng-if="indexCtrl.workspaces">
        <md-tab ng-repeat="workspace in indexCtrl.workspaces track by workspace.id"
                ng-click="::indexCtrl.setPathTo('workspaces/' + workspace.id)"
                label="{{::workspace.name}}">
        </md-tab>
    </md-tabs>

    <ng-view flex layout="row"></ng-view>

    <!-- lib:js -->
    <!-- bower installed scripts will go here... -->
    <!-- endinject -->

    <script src="components/app.js"></script>
    <script src="components/router.js"></script>
    <script src="components/indexCtrl.js"></script>

    <script src="components/mainNav/mainNav.js"></script>
    <script src="components/mainNav/sharedNavDataService.js"></script>
    <script src="components/mainNav/mainNavService.js"></script>
    <script src="components/mainNav/mainNavDirective.js"></script>

    <script src="components/attributes/attributes.js"></script>
    <script src="components/attributes/attributesDirective.js"></script>
    <script src="components/attributes/attributesService.js"></script>
    <script src="components/attributes/attributesList/attributesListDirective.js"></script>
    <script src="components/attributes/attributesTaskList/attributesTaskListDirective.js"></script>
    <script src="components/attributes/attributeValue/attributeValueDirective.js"></script>
    <script src="components/attributes/attributeValueEdit/attributeValueEditDirective.js"></script>

    <script src="components/mainContent/mainContent.js"></script>
    <script src="components/mainContent/mainContentService.js"></script>
    <script src="components/mainContent/mainContentController.js"></script>

    <script src="components/search/search.js"></script>
    <script src="components/search/searchController.js"></script>
    <script src="components/search/searchService.js"></script>
    <script src="components/search/sideSearchDirective.js"></script>

    <script src="components/feed/feedModule.js"></script>
    <script src="components/feed/feedDirective.js"></script>
    <script src="components/feed/feedServices/feedService.js"></script>
    <script src="components/feed/mainFeedController.js"></script>
    <script src="components/feed/feedController.js"></script>
    <script src="components/feed/feedFilters.js"></script>
    <script src="components/feed/feedItem/feedItemController.js"></script>
    <script src="components/feed/feedItem/feedItemDirective.js"></script>
    <script src="components/feed/feedItemComments/feedItemCommentsController.js"></script>
    <script src="components/feed/feedItemComments/feedItemCommentsDirective.js"></script>
    <script src="components/feed/feedDiscussion/feedDiscussionController.js"></script>
    <script src="components/feed/feedDiscussion/feedDiscussionDirective.js"></script>
    <script src="components/feed/feedTask/feedTaskController.js"></script>
    <script src="components/feed/feedTask/feedTaskDirective.js"></script>
    <script src="components/feed/simpleValueChanges/simpleValueChangesController.js"></script>
    <script src="components/feed/simpleValueChanges/simpleValueChangesDirective.js"></script>
    <script src="components/feed/richStringChanges/richStringChangesController.js"></script>
    <script src="components/feed/richStringChanges/richStringChangesDirective.js"></script>
    <script src="components/feed/roleChanges/roleChangesController.js"></script>
    <script src="components/feed/roleChanges/roleChangesDirective.js"></script>
    <script src="components/feed/feedServices/htmlDiffService.js"></script>

    <script src="components/charts/scCharts.js"></script>
    <script src="components/charts/scPieChartDirective.js"></script>
    <script src="components/charts/scGanttChartDirective.js"></script>

    <script src="components/common/scTypeGuessing.js"></script>
</body>
</html>