<md-card class="scAttributes">
    <md-toolbar>
        <div class="md-toolbar-tools">
            {{entity.entityType.name}}
        </div>
    </md-toolbar>
    <md-tabs md-dynamic-height md-stretch-tabs="always">
        <md-tab label="Attributes">
            <div class="attributesTable" on-change="onChange()" layout-fill>
                <sc-attributes-list attributes="entity.attributes" on-change="onChange()" on-attribute-delete="onAttributeDelete(attribute)"></sc-attributes-list>
                <div layout="row">
                    <md-input-container class="withoutPadding"
                                        flex="grow">
                        <label>New Attribute</label>
                        <input ng-keyup="addNewEntityAttribute($event, vm.newAttributeName)"
                               ng-model="vm.newAttributeName"/>
                    </md-input-container>
                    <md-icon ng-click="addNewEntityAttribute({keyCode: 13}, vm.newAttributeName)"
                             ng-if="!!vm.newAttributeName && vm.newAttributeName !== ''"
                             style="margin-bottom: 2.3em">
                        done
                    </md-icon>
                </div>
            </div>
        </md-tab>
        <md-tab label="Tasks">
            <div>
                <sc-attributes-task-list tasks="entity.tasks" page-attributes="entity.attributes" on-change="onChange()"
                                         layout-fill></sc-attributes-task-list>

                <div class="attributesTable">
                    <div layout="row" layout-align="start center">
                        <sc-pie-chart class="deactivated"
                                      style="margin: 0 .5em 2.5em; font-size: 90%;"
                                      percentage="{{0.6}}"
                                      diameter="2em"
                                      show-percentage="false"></sc-pie-chart>
                        <md-input-container flex="grow">
                            <label>Add new task</label>
                            <input type="text"
                                   ng-model="newTaskName"
                                   ng-keyup="$event.keyCode == 13 ? addNewTask() : angular.noop()"/>
                        </md-input-container>
                        <md-icon ng-if="!!newTaskName && newTaskName !== ''" ng-click="addNewTask(newTaskName)" style="margin-bottom: 2.5em">done
                        </md-icon>
                    </div>
                </div>
            </div>
        </md-tab>
    </md-tabs>
</md-card>