<md-card class="scAttributes">
    <md-toolbar>
        <div class="md-toolbar-tools">
            {{entity.type.name}}
        </div>
    </md-toolbar>
    <md-tabs md-dynamic-height md-stretch-tabs="always">
        <md-tab label="Attributes">
            <div class="attributesTable" on-change="onChange()" layout-fill>
                <sc-attributes-list attributes="entity.attributes" on-change="onChange()"></sc-attributes-list>
                <div>
                    <md-input-container class="withoutPadding withoutMargin">
                        <label>New Attribute</label>
                        <input ng-keyup="addNewEntityAttribute($event, vm.newAttributeName)"
                               ng-model="vm.newAttributeName"/>
                    </md-input-container>
                </div>
            </div>
        </md-tab>
        <md-tab label="Tasks">
            <div>
                <sc-attributes-task-list tasks="entity.tasks" page-attributes="entity.attributes" on-change="onChange()" layout-fill></sc-attributes-task-list>

                <div class="attributesTable">
                    <div layout="row">
                        <md-input-container flex="grow">
                            <label>Add new task</label>
                            <input type="text"
                                   ng-model="newTaskName"/>
                        </md-input-container>
                        <md-icon ng-click="addNewTask(newTaskName)">done</md-icon>
                    </div>
                </div>
            </div>
        </md-tab>
    </md-tabs>
</md-card>