<div ng-if="!!ctrl.entity">
    <md-toolbar>
        <div class="md-toolbar-tools" layout="row">
            <div layout-align="end center" layout="row" ng-if="ctrl.entity.tasks.length > 0">
                <sc-pie-chart diameter="2em"
                              percentage="{{ctrl.sum(ctrl.entity.tasks, 'progress') / ctrl.entity.tasks.length / 100}}"
                              show-percentage="false"></sc-pie-chart>
                <!--
                scColorService is no longer available. if you want to use it, add it as dependency again.
                this styling is now done by css.

                foreground="{{scColorService.getColor('progress.valid.foreground')}}"
                background="{{scColorService.getColor('progress.valid.background')}}"
                style="fill: currentColor"
                -->
                <div ng-click="ctrl.showGantChart = !ctrl.showGantChart"
                     style="cursor: pointer; padding: 0 .5em;"
                     aria-label="Show task gant chart">
                    <md-icon ng-if="!ctrl.showGantChart" md-font-icon>expand_more</md-icon>
                    <md-icon ng-if="ctrl.showGantChart" md-font-icon>expand_less</md-icon>
                </div>
            </div>
            <div layout="column">
                <h1>{{::ctrl.entity.name}}</h1>

                <div class="md-subhead">{{ctrl.entity.tags}}</div>
            </div>
        </div>
    </md-toolbar>
    <md-progress-linear md-mode="{{ctrl.progressBarMode}}"></md-progress-linear>
    <div ng-if="ctrl.entity.tasks.length > 0">
        <!--
        margin is half the diameter of the pie chart
        -->
        <sc-gantt-chart style="margin: 0 1em"
                        class="slide"
                        flex
                        tasks="ctrl.entity.tasks"
                        ng-show="ctrl.showGantChart"></sc-gantt-chart>
    </div>
    <div flex layout-gt-sm="row" layout="column" layout-fill layout-margin layout-padding class="childsHaveNoPadding">
        <div flex="55" flex-lg="66" ng-bind-html="ctrl.entity.content">
        </div>
        <div flex="45" flex-lg="33" ng-if="ctrl.entity">
            <sc-attributes entity="ctrl.entity" on-change="ctrl.refreshEntity()"></sc-attributes>
        </div>
    </div>
</div>

<div ng-if="!ctrl.entity">
    <p>The content could not be loaded yet.</p>
</div>