<md-toolbar>
    <div class="md-toolbar-tools" layout="row">
        <div layout-align="end center" layout="row" ng-if="ctrl.entity.tasks.length > 0">
            <sc-pie-chart diameter="2em"
                          percentage="{{ctrl.sum(ctrl.entity.tasks, 'progress') / ctrl.entity.tasks.length / 100}}"
                          show-percentage="false"></sc-pie-chart>
            <!--
            scColorService is no longer available. if you want to use it, add it as dependency again.
            this styling is now done by css.

            foreground="{{scColorService.getColor('progress.valid.foreground')}}"
            background="{{scColorService.getColor('progress.valid.background')}}"
            style="fill: currentColor"
            -->
            <md-button ng-click="ctrl.showGantChart = !ctrl.showGantChart" aria-label="Show task gant chart">
                <md-icon ng-if="!ctrl.showGantChart" md-font-icon>expand_more</md-icon>
                <md-icon ng-if="ctrl.showGantChart" md-font-icon>expand_less</md-icon>
            </md-button>
        </div>
        <div layout="column">
            <h1>{{::ctrl.entity.name}}</h1>

            <div class="md-subhead">{{ctrl.entity.tags}}</div>
        </div>
    </div>
</md-toolbar>
<md-progress-linear md-mode="{{ctrl.progressBarMode}}"></md-progress-linear>
<div ng-if="ctrl.entity.tasks.length > 0">
    <!--
    margin is half the diameter of the pie chart
    -->
    <sc-gantt-chart style="margin: 0 1em"
                    class="slide"
                    flex
                    tasks="ctrl.entity.tasks"
                    ng-show="ctrl.showGantChart"></sc-gantt-chart>
</div>
<div flex layout-gt-md="row" layout="column" layout-fill layout-margin layout-padding class="childsHaveNoPadding">
    <pre>{{ctrl.entity.tasks | json: 2}}</pre>
    <div ng-bind-html="ctrl.entity.content" flex>
    </div>
    <div flex-gt-md="33" flex-gt-lg="25" flex ng-if="ctrl.entity">
        <sc-attributes entity="ctrl.entity" on-change="ctrl.refreshEntity()"></sc-attributes>
    </div>
</div>